@import "../resources/colors";
@import "../resources/animation.scss";

.draggableDocument {
  width: 95%;
  height: 400px;

  .contentDrop {
    width: 68%;
    height: 385px;
    background: url('../assets/img/backgrounds/bgPage-15.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .itemDrop {
      width: 100%;
      top: 70px;
      left: 13px;
      .boxDrop {
        height: 293px;
        width: 602px;
        background-color: rgba(255, 255, 255, 0);
        border: 0px solid #afafaf;
        border-radius: 5px;
      }
    }

    .itemInfo {
      width: 100%;
      .textItem {
        color: #fff;
        height: 26px;
        width: 29px;
        margin-right: 0.5rem;
        border-radius: 20px;
        padding: 0.2rem 0.3rem;
      }
    }
  }

  .contentWords {
    width: 203px;
    height: 303px;
    margin: 0 auto;
    padding: 1rem 0rem;
    background-color: #F8F8F8;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    .dragWord {
      height: 55px;
      width: 55px;
      margin: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 40px;
      .labelDrag {
        color: #ffffff;
      }
    }
    .countLabel {
      background-color: red;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid $blanco;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      margin-bottom: 0.5rem;
      p {
        color: $blanco;
      }
    }
  }
}
