@import "../resources/colors";
@import "../resources/animation.scss";

.draggableWordBox {
  width: 95%;
  .contentSlide {
    .slideBox {
      // padding: 1.5rem;
      width: 95%;
      height: 165px;
      background: url('../assets/img/backgrounds/bgPage-3.png');
      background-position: center;
      background-repeat: no-repeat;
      .line-drop {
        // position: absolute;
        // width: 190px;
        // height: 40px;
      }
      .boxDrop {
        position: absolute;
        height: 136px;
        // background: #F5F5F5;
        // border-width: 1px;
        // border-style: dotted;
      }
      .WordDropped {
        border: none;
        p {
          color: $color4;
        }
      }
    }

    .buttonSlide {
      background-color: rgba(0, 0, 0, 0);

      .iconButton {
        font-size: 2em;
        color: $color1;
        transition: all .3s;
      }

      &:hover {
        .iconButton {
          color: $color2;
        }
      }
    }
  }

  .contentWords {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    .dragWord {
      width: 98px;
      height: 98px;
      margin: .5em;
      border-radius: 3px;
    }

    .onDrag {
      opacity: 0.5;
    }
  }
}
